version: "3.9"

services:
  socket-server:
    build: .
    container_name: tp2b_socket_server
    environment:
      # Dentro do container o servidor deve ouvir em todas as interfaces
      - SOCKET_HOST=0.0.0.0
      - SOCKET_PORT=5050
    command: python -m servers.socket_server
    ports:
      # host:container
      - "5050:5050"

  xmlrpc-server:
    build: .
    container_name: tp2b_xmlrpc_server
    environment:
      - XMLRPC_HOST=0.0.0.0
      - XMLRPC_PORT=5051
    command: python -m servers.xmlrpc_server
    ports:
      - "5051:5051"

  grpc-server:
    build: .
    container_name: tp2b_grpc_server
    environment:
      - GRPC_HOST=0.0.0.0
      - GRPC_PORT=5052
    command: python -m servers.grpc_server
    ports:
      - "5052:5052"


      